body {
  background: black;
}

#add-current-location-btn {
  width: 80%;
  height: 80px;
  margin-top: 30px;
  padding-left: 70px;
  background: rgb(41, 41, 41);
  border: none;
  border-radius: 20px;
  font-size: 1.25rem;
  text-align: start;
  color: white;
}

#add-current-location-btn:hover {
  background: rgb(51, 51, 51);
  cursor: pointer;
}

#savedLocationsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#savedLocationsList li {
  position: relative;
  width: 80%;
  height: 180px;
  border-radius: 35px;
  padding: 70px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  cursor: pointer;
}

li.morning {
  background: linear-gradient(135deg, #dabd7b 0%, #f7978d 50%, #948eeb 100%);
}
li.afternoon {
  background: linear-gradient(135deg, #4795d4 0%, #4eabee 100%);
}
li.evening {
  background: linear-gradient(135deg, #3d4270 0%, #4c3b72 40%, #b46551 100%);
}
li.night {
  background: linear-gradient(135deg, #00284e 0%, #244069 100%);
}
li.cloudy {
  background: linear-gradient(135deg, #2a3552 0%, #4a5880 50%, #8692b4 100%);
}

.location-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.current-location-badge-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.current-location-badge-span h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.current-location-badge-span .current-location-badge {
  width: 25px;
  height: 25px;
}

.region-country,
.date-time {
  font-size: 1rem;
  color: rgba(254, 255, 255, 0.808);
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.current-icon-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .current-temp {
    font-size: 2rem;
  }
}

.high-low-temp {
  width: 100%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn:hover {
  color: rgb(200, 200, 200);
}

@media (max-width: 900px) {
  #add-current-location-btn,
  #savedLocationsList li {
    width: 80%;
    padding: 40px;
    font-size: 1rem;
  }
  #add-current-location-btn {
    height: 60px;
    font-size: 1rem;
    padding-left: 30px;
  }
}

@media (max-width: 600px) {
  #savedLocationsList {
    padding: 30px 0;
  }

  #add-current-location-btn,
  #savedLocationsList li {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    font-size: 0.95rem;
  }
  #add-current-location-btn {
    height: 48px;
    font-size: 0.95rem;
    padding-left: 15px;
    border-radius: 12px;
  }
  #savedLocationsList li {
    border-radius: 18px;
    flex-direction: row;
    height: 50px;
    min-height: 120px;
  }
  .weather-info {
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
  }

  .location-info .current-location-badge-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .current-location-badge-span img {
    width: 18px;
    height: 18px;
  }

  .location-info h3 {
    font-size: 1.2rem;
  }

  .region-country,
  .date-time {
    font-size: 10px;
    color: rgba(254, 255, 255, 0.808);
  }

  .current-icon-temp img {
    width: 40px;
    height: 40px;
  }

  .current-icon-temp .current-temp {
    font-size: 1.2rem;
  }

  .high-low-temp {
    font-size: 0.95rem;
  }

  .delete-btn {
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}