body {
  background: black;
}

#searchForm {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.back-arrow {
  width: 25px;
  height: 25px;
}

input {
  width: 80%;
  height: 50px;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 2px solid #8b8b8b;
  font-size: 1.5rem;
  color: #8b8b8b;
}

input:focus {
  outline: none;
  border-bottom: 2px solid white;
  color: white;
}

#map {
  width: 100%;
  border-radius: 1rem;
  min-height: 400px;
  height: 500px;
  z-index: 0;
  margin-bottom: 80px;
}

#suggestionsContainer {
  padding: 50px;
  width: 80%;
  display: none;
  flex-direction: column;
  align-items: left;
  background: rgb(31, 31, 31);
  border-radius: 50px;
  gap: 33px;
}

.suggestion {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #8b8b8b;
  cursor: pointer;
  font-size: 1.25rem;
  gap: 10px;
}

.suggestion:hover {
  border-bottom: 1px solid #eee;
}

.suggestion-name {
  font-weight: bold;
}

.suggestion-region-country {
  font-size: 1rem;
  color: #aaa;
}

.leaflet-popup-content-wrapper {
  width: 450px;
  height: 200px;
  background: #353535;
  color: white;
}

.leaflet-popup-content {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 15px 25px !important;
  display: flex;
  flex-direction: column;
}

.leaflet-popup-content .weather-popup-card {      /* Allow it to grow and fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

.weather-popup-card .location-weather {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popup-location-title {
  display: flex;
  flex-direction: column;
}

.popup-location-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.popup-location-icon-temp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.popup-temp {
  font-size: 1.25rem;
}

.popup-condition {
  font-size: 1rem;
}

.popup-links {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: white;
  }
}

.popup-location-name {
  font-size: 1.5rem;
}

.popup-location-region-country, .popup-location-date {
  font-size: 1rem;
  color: #aaa;
}

.leaflet-popup-close-button span {
  color: white;
  font-size: 1rem;
}