@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

body.morning {
  background: linear-gradient(180deg, #dabd7b 0%, #f7978d 50%, #7f7aca 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body.afternoon {
  background: linear-gradient(180deg, #1577c7 0%, #4795d4 50%, #91c1e0 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body.evening {
  background: linear-gradient(180deg, #3d4270 0%, #4c3b72 40%, #b46551 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body.night {
  background: linear-gradient(180deg, #00284e 0%, #244069 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body.cloudy {
  background: linear-gradient(180deg, #2a3552 0%, #4a5880 50%, #8692b4 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 75%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
  padding-top: 35px;
  margin-bottom: 85px;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

svg {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.current-weather {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-weather-info > .location-row {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 8px;

  #currentLocation {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.location-row > .location-icon {
  width: 25px;
  height: 25px;
}

.current-weather-info > .weather-info {
  #currentTemp {
    font-size: 5.5rem;
    font-weight: bold;
  }

  #currentCondition {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.current-weather > .temperature-range {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.temperature-range > .high-low-temp-container {
  display: flex;
  flex-direction: row;

  #highestTemp,
  #lowestTemp {
    font-size: 1.5rem;
  }
}

.temperature-range > p,
.slash {
  font-size: 1.5rem;
}

.high-low-temp-container > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.high-low-temp {
  width: 25px;
  height: 25px;
}

.current-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lottieWeatherIcon {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

#alertsContainer {
  .alert-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    img {
      width: 24px;
      height: 24px;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  .weather-alert {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    gap: 10px;

    .show-details-btn {
      background: none;
      border: none;
      color: rgba(255, 255, 255, 0.712);
      cursor: pointer;
      font-size: 1rem;
      padding: 0;
    }

    .show-details-btn:hover {
      color: rgba(194, 194, 194, 0.712);
    }

    .alert-desc {
      line-height: 25px;
    }
  }

  .dropdown-alert {
    margin: 35px 0;
  }
}

/* Hide the alerts container if empty */
#alertsContainer:empty {
  display: none;
}

#forecastContainer {
  width: 85%;
  padding: 35px;
}

#forecastContainer > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  list-style: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 40px,
    black calc(100% - 40px),
    transparent 100%
  ); /* Safari/Chrome */
  mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 40px,
    black calc(100% - 40px),
    transparent 100%
  );
}

ul li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 90px;
  padding: 10px;
  text-align: center;
}

ul::-webkit-scrollbar {
  display: none;
}

.hourly-precipitation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hourly-precipitation > img {
  width: 16px;
  height: 16px;
}

#alertsContainer {
  width: 100%;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 20px;
}

#alertsContainer > button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.712);
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

.weather-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
  padding: 35px;
}

.weather-summary > .weather-brief {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.day-label,
.high-low {
  font-size: 1.25rem;
}

.icons-high-low {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.weather-brief > img {
  width: 24px;
  height: 24px;
}

.current-details {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.current-details > .detail-container {
  height: 250px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    font-size: 1.25rem;
  }
}

.detail-title {
  display: flex;
  align-items: center;
  gap: 5px;
  
  img {
    width: 24px;
    height: 24px;
  }
}

.main-ui {
  display: flex;
  flex-direction: column;

  span {
    font-size: 2rem;
    font-weight: bold;
  }
}

.uv-bar-container,
.humidity-bar-container {
  width: 100%;
  margin: 1rem 0;
  min-height: 32px;
}

.uv-bar-bg {
  width: 100%;
  height: 20px;
  background: linear-gradient(
    90deg,
    #4caf50,
    #ffeb3b,
    #ff9800,
    #f44336,
    #9c27b0
  );
  border-radius: 12px;
  position: relative;
  margin-top: 10px;
}

.uv-bar-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  backdrop-filter: blur(2px);
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: left 0.4s;
  z-index: 2;
}

.humidity-bar-bg {
  width: 100%;
  height: 20px;
  background: #e0e0e0;
  border-radius: 12px;
  position: relative;
  margin-top: 10px;
}

.uv-bar-fill {
  height: 100%;
  width: 0;
  border-radius: 9px 0 0 9px;
  transition: width 0.5s, background 0.3s;
}

.humidity-bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #4fc3f7, #1976d2);
  width: 0;
  border-radius: 9px 0 0 9px;
  transition: width 0.5s;
}

.wind-compass {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 5px solid #ffffff4b;
  background: #50505044;
  position: relative;
  margin: 1rem auto;
  flex-shrink: 0;
}

.compass-label {
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff;
  pointer-events: none;
}

.compass-label.n {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.compass-label.e {
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}
.compass-label.s {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}
.compass-label.w {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.compass-label.ne {
  left: 80%;
  top: 20%;
  transform: translate(-50%, -50%);
}
.compass-label.se {
  left: 80%;
  top: 80%;
  transform: translate(-50%, -50%);
}
.compass-label.sw {
  left: 20%;
  top: 80%;
  transform: translate(-50%, -50%);
}
.compass-label.nw {
  left: 20%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.compass-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 0.3s;
  z-index: 2;
}

.detail-ui {
  font-size: 2rem;
  font-weight: bold;
}

.pressure-gauge {
  width: 200px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}
.gauge-svg {
  width: 100%;
  height: 100%;
  display: block;
}

.gauge-unfilled {
  stroke: #c0c0c07e;
}

.gauge-fill {
  stroke: #fff;
  transition: stroke-dashoffset 0.6s;
}

.gauge-label {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  background: rgba(117, 117, 117, 0.151);
  box-shadow: 0 0px 22px rgba(0, 0, 0, 0.274);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* for Safari */
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: opacity 0.7s ease, transform 0.7s;
}

footer.footer-visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.footer-img {
  width: 35px;
  height: 35px;
}

#alertsContainer,
#forecastContainer,
.weather-summary,
.detail-container {
  background: rgba(117, 117, 117, 0.151);
  box-shadow: 0 0px 22px rgba(0, 0, 0, 0.274);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* for Safari */
  border-radius: 1rem;
}

/* For tablets and below */
@media (max-width: 900px) {
  main {
    gap: 3.5rem;
  }

  main,
  #forecastContainer,
  .weather-summary,
  .current-details {
    width: 95%;
    padding: 15px;
  }

  .current-weather-info > .weather-info #currentTemp {
    font-size: 3.5rem;
  }

  .current-weather-info > .location-row #currentLocation {
    font-size: 1.2rem;
  }

  .current-details {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

/* For phones and small screens */
@media (max-width: 600px) {
  main,
  #forecastContainer,
  .weather-summary,
  .current-details {
    width: 100%;
  }

  .current-weather {
    min-height: 250px;
    flex-direction: row;
  }

  #lottieWeatherIcon {
    width: 160px;
    height: 160px;
  }

  .current-weather-info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
  }

  .current-weather-info > .weather-info #currentTemp {
    font-size: 2rem;
  }

  .current-weather-info > .location-row #currentLocation {
    font-size: 1.25rem;
  }

  .current-weather-info > .location-row img {
    width: 25px;
    height: 25px;
  }

  .current-weather-info > .weather-info #currentCondition {
    font-size: 0.95rem;
  }
  .temperature-range > .high-low-temp-container #highestTemp,
  .temperature-range > .high-low-temp-container #lowestTemp,
  .temperature-range > p,
  .slash {
    font-size: 1rem;
  }

  #alertsContainer > .alert-header img {
    width: 20px;
    height: 20px;
  }

  #alertsContainer > .alert-header h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  #alertsContainer > .weather-alert {
    line-height: 25px;
    gap: 20px;
  }

  #alertsContainer > div .dropdown-alert {
    line-height: 25px;
    gap: 20px;
  }

  #alertsContainer > .weather-alert h4 {
    font-size: 1rem;
  }

  #alertsContainer > .weather-alert p {
    font-size: 0.95rem;
  }

  #forecastContainer > ul li {
    min-width: 70px;
    gap: 0.5rem;

  }

  .weather-summary > .weather-brief > .day-label {
    font-size: 1rem;
  }

  .icons-high-low > .summary-icon {
    width: 40px;
    height: 40px;
  }

  .icons-high-low > .high-low {
    font-size: 1rem;
  }

  .current-details {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .wind-compass {
    width: 150px;
    height: 150px;
  }

  .footer-img {
    width: 24px;
    height: 24px;
  }

}
